@import url("https://fonts.googleapis.com/css2?family=Erica+One&family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Erica One", cursive !important;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
