.increase_qty {
  border: 1px solid black;
  font-size: 18px;
  background-color: black;
  color: white;
  width: 30px;
  padding: 9px 0 12px 0;
  cursor: pointer;
  text-align: center;
}

.decrease_qty {
  border: 1px solid black;
  font-size: 18px;
  background-color: black;
  color: white;
  width: 30px;
  padding: 9px 0 12px 0;
  cursor: pointer;
  text-align: center;
}

.quantity {
  border: 1px solid grey;
  font-size: 18px;
  padding: 9px 0 12px 0;
  width: 100px;
  height: 50px;
  font-weight: bolder;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .increase_qty {
    width: 30px;
    padding: 9px 0 12px 0;
  }

  .decrease_qty {
    width: 30px;
    padding: 9px 0 12px 0;
  }

  .quantity {
    padding: 9px 0 12px 0;
    width: 100px;
    height: 50px;
  }
}
